body{
	/* background-image: url(im/bg.jpg); */
	height: 677px;
}

.pith{
	width: 100%;
	height: 100%;
}



.fm{
	display: block;
	width: 220px;
	float: left;
}


#lg{width: 71px}

#imlog{padding-left: 11px}

#pw{width: 71px}

#reg{color: dodgerblue}

#lbl{color: LightGreen}
	
.square{
	width: 770px;
	height: 100%;
	margin-left: 4%;
	float: left;
}

.zakaz{
	float: left;
}

.button{
	margin: 3px 0 0 66px;
	width: 173px;
	height: 61px;
	border: coral 2px solid;
}


.button a{
	font-size: 23px;	
	text-align: center;
	color: yellow;
	width: 167px;
	display: block;
	
	background: linear-gradient(green, lime);
	border: green 3px solid;
	
	text-decoration: none;
	line-height: 55px;
	height: 55px;
}

.button a:hover{
	background: linear-gradient(red, yellow);
}

.button a:active{
	border: green 1px solid;
	border-bottom: none;
	padding-left: 2px;
	padding-top: 2px;
	width: 169px;
	line-height: 56px;
	height: 56px;
}


ul li a{
	font-size: 23px;	
	padding: 3px;
	text-decoration: none;
	line-height: 33px;
	/* list-style: none; */
}

ul li{
	list-style-image:  url(../im/pad.jpg);
}

.menu{
	background-color: #FBEFF8;
}

#a{
	font-size: 23px;	
	padding: 15px;
	text-decoration: none;
	line-height: 33px;
	/* list-style: none; */
}

a[href="index.html"]{
}

ul li #gl{
	color: tomato;
	font-size: 20px;
	padding: 3px;
	text-decoration: none;
}


ul li:hover{
	text-decoration: underline;
}

#a:hover{
	text-decoration: underline;
}


.head {
 background-color: #FAFAFA;
 cursor: pointer;
 
}

h1{
	font-family: Gungsuh;
	text-align: center;
	font-size: 45;
	color: #32CD32;
	vertical-align: bottom;
		
}

p{
	margin-left: 10px;
	margin-right: 10px;	
	font-family: arial;
	font-size: 15;
	color: purple;	
	text-align: justify;
}



.head:hover {
	background-color: #819FF7;
	color: #FFFF00;
}

#zoo{color: tomato}


h1:hover  #zoo{
	color: paleturquoise;
	
}

h1:hover {
	color: #FFFF00;
	
}


.video {
	width: 600;
    height: 400;
}

iframe {
	width: 600;
    height: 400;
}

#video {z-index: 100}
#image {z-index: 1}

#discr{padding-left: 15px}
